/* start variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: #0f748fb3;
  --section-padding: 100px 0;
}
/* end variables */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start component */
.main-heading {
  text-align: center;
  margin: 0px 0 50px;
  display: grid;
  justify-content: center;
}
.main-heading h2 {
  font-size: 2.5em;
  margin-bottom: 45px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  transition: 1s;
  transform: translate(-50%);
  width: 108px;
  height: 2px;
  background: #333;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: solid 2px #333;
  border-radius: 20px;
}
.main-heading p {
  font-size: 14px;
  color: #777;
  line-height: 2;
  max-width: 550px;
}
/* end component */
/* start header */
header {
  position: absolute;
  inset: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 95px;
  position: relative;
}
header .container::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  transform: translateX(-50%);
}
header .logo {
  margin-right: auto;
}
header .logo img {
  height: 40px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav ul {
  display: flex;
  gap: 19px;
}
header nav ul li a {
  border-bottom: solid 0px var(--main-color);
}

header nav ul li a:hover,
header nav a.active {
  border-width: 1px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  display: block;
  position: relative;
  padding: 38px 0;
  transition: 0.3s;
}
header nav ul li:hover a,
header nav li a.active {
  color: var(--main-color);
}
header nav i.icon-bir {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
@media (min-width: 768px) {
  header nav i.icon-bir {
    display: none;
  }
  header nav ul {
    display: flex;
  }
}
@media (max-width: 767px) {
  header .container::before {
    width: 100%;
  }
  header nav ul {
    display: none;
  }
  header nav .icon-bir:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: hwb(0deg 0% 100% / 50%);
    padding: 10px;
  }
  header nav ul a {
    padding: 15px !important;
  }
}
header form {
  font-size: 20px;
  color: white;
  margin-left: 4px;
  padding: 5px 20px;
  border-left: solid 1px white;
}
/* end header */
/* start landing */
.landing {
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/landing.jpg);
  min-height: 100vh;
  background-color: #1f2021;
  background-size: cover;
  background-position: center;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.landing .text {
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
  color: white;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    padding: 20px;
    justify-content: center;
    text-align: center;
  }
  .arrow {
    display: none;
  }
}
.landing .content {
  max-width: 500px;
}
.landing h2 {
  font-size: 2em;
  font-weight: normal;
  /* color: white; */
  line-height: 1.6;
  margin-bottom: 20px;
}
.landing p {
  font-size: 14px;
  line-height: 1.7;
}
.arrow {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
}
.arrow.right {
  right: 1px;
  left: auto;
}
.bollets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}
.bollets li {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: solid 3px white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.bollets li:active {
  background-color: var(--transparent-color);
  border-color: var(--main-color);
  transform: translateY(-5px);
}
/* end landing */
/* start services */
.services {
  padding: var(--section-padding);
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 60px 40px;
}
.services .sir-box {
  display: flex;
  gap: 25px;
}
.services .sir-box .sir-icon {
  font-size: 40px;
}
.services h3 {
  margin-bottom: 25px;
  color: var(--main-color);
}
.services .text p {
  color: #777;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .services .sir-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .services-container {
    grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
  }
}
/* end services */
/* start design  */
.design {
  padding: var(--section-padding);
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/design-features.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.design::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.design .image {
  width: 50%;
  position: absolute;
  left: 0;
  text-align: center;
  top: 214px;
}
.design .text {
  width: 50%;
  background: var(--transparent-color);
  padding: 50px;
  position: absolute;
  right: 0;
  color: white;
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design li {
  padding: 15px 0;
}
.design li i {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
  .design .text {
    width: 100%;
    text-align: center;
  }
}
/* end design  */
/* start portfolio  */
.portfolio {
  padding: var(--section-padding);
}
.portfolio ul.shuffla {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-weight: 500;
  color: #3b3b3b;
}
.portfolio li.active {
  padding: 7px 10px;
  background: #03a9f4;
  color: white;
  border-radius: 5px;
  margin-top: -7px;
}
.portfolio .imgs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 1px;
  margin-top: 50px;
}
.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}
.portfolio .imgs-container img {
  width: 100%;
}
.portfolio .imgs-container .box:hover img {
  transform: scale(1.1) rotate(3deg);
  transition: 0.5s;
}
.portfolio .caption {
  padding: 15px;
  position: absolute;
  bottom: -75.58px;
  background: #ffffffc9;
  width: 100%;
  backdrop-filter: blur(5px);
  transition: 0.5s;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .caption h4 {
  font-weight: normal;
}
.portfolio .caption p {
  color: var(--main-color);
  line-height: 1.7;
}
.portfolio .more {
  display: block;
  margin: 50px auto;
  background: var(--main-color);
  padding: 12px;
  width: fit-content;
  color: white;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 5px;
}
/* end portfolio  */
/* start video */
.video {
  position: relative;
  padding: var(--section-padding);
  padding-top: 0;
}
.video video::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.video video {
  width: 100%;
  display: block;
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  color: white;
  width: 100%;
  padding: 50px;
  text-align: center;
  background-color: var(--transparent-color);
}
.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.video .text p {
  font-size: 14px;
  margin: 30px;
}
.video .text a {
  display: inline-block;
  background: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}
.video .text a:hover {
  background: rgb(49, 49, 49);
}
/* end video */
/* start about */
.about {
  position: relative;
  overflow: hidden;
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about img {
  width: 100%;
  position: relative;
  bottom: -144px;
  margin-top: -130px;
}
@media (max-width: 767px) {
  .about img {
    bottom: -70px;
    margin-top: -70px;
  }
}
/* end about */
/* start stats */
.stats {
  padding: var(--section-padding);
  background: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/stats.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.stats .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
}
.stats .box {
  padding: 50px;
  background: var(--transparent-color);
  text-align: center;
  flex-basis: 282px;
  color: white;
  border-radius: 5px;
  position: relative;
}
.stats .box::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 5px;
  background-color: var(--main-color);
  border-radius: 5px;
  transition: 0.5s;
}
.stats .box:hover::before {
  width: 100%;
}
.stats i.icon-stats {
  background: #3a3a3a;
  width: 40px;
  height: 40px;
  border-radius: 34px;
  line-height: 2.3;
  transition: 0.3s;
  font-size: 18px;
  color: var(--main-color);
}
.stats .box:hover i.icon-stats {
  background: var(--main-color);
  color: white;
}
.stats .number {
  font-size: 3.6em;
  font-weight: 700;
  margin: 31px 0 20px;
  text-shadow: 1px -1px 1px #03a9f4;
}
.stats p {
  font-size: 14px;
}
/* end stats */
/* start skills */
.our-skills {
  padding: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.our-skills .testimonials,
.our-skills .skills {
  flex-basis: 45%;
}
.our-skills p {
  text-align: center;
  line-height: 1.8;
  color: #777;
  margin-bottom: 40px;
}
.our-skills h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 27px auto;
  text-align: center;
}
.content {
  display: flex;
  margin: 33px 0;
}
.our-skills img {
  height: 100px;
  border-radius: 73px;
  corner-shape: superellipse(1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.text {
  line-height: 1.8;
  margin-left: 61px;
  border-bottom: 1px solid #ccc;
}
.our-skills .text p {
  text-align: right;
  margin-bottom: 10px;
}
.prog-holder {
  margin-bottom: 40px;
}
.our-skills h4 {
  font-weight: normal;
}
.our-skills .prog {
  width: 100%;
  height: 30px;
  background: #eee;
  margin-top: 15px;
  position: relative;
}
.our-skills span {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--main-color);
}
.our-skills span::before {
  content: attr(data-progress);
  position: absolute;
  right: -20px;
  top: -40px;
  color: white;
  font-size: 15.5px;
  background: black;
  padding: 5px;
  border-radius: 7px;
}
.our-skills span::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -30px;
  width: 20px;
  height: 20px;
  background: black;
  transform: rotate(45deg);
  z-index: -1;
}
ul.bullets {
  width: 100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 20px;
}
ul.bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid #9d9d9d;
}
ul.bullets li:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  transform: translateY(-5px);
}
ul.bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width: 767px) {
  .our-skills .testimonials,
  .our-skills .skills {
    flex-basis: 100%;
  }
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .text {
    margin-left: 0;
    margin-top: 20px;
    border-bottom: none;
  }
}
/* end skills */
